@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --very-blue: hsl(237, 12%, 33%);
  --grayish-blue: hsl(240, 6%, 50%);
  --gra-violet: hsl(273, 75%, 66%);
  --gra-blue: hsl(240, 73%, 65%);
  --divider-blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  font-size: 12px;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(var(--gra-violet), var(--gra-blue));
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  width: 90%;
  max-width: 992px;
  background: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 420px 1fr;
  grid-gap: 0.1rem;
}

.image-con {
  height: 100%;
  position: relative;
}
.desktop-img {
  position: absolute;
  clip-path: polygon(0, -50%, 0, 0);
  top: 10%;
  left: -10%;
}
.box-img {
  position: absolute;
  top: 42%;
  left: -20%;
}

.text {
  padding: 3rem 5rem;
}
.text h1 {
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

.content img {
  width: 0.7rem;
  height: 0.5rem;
}

.question {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.question:hover {
  color: burlywood;
}
.question p {
  font-size: 0.9rem;
}

.answer {
  display: none;
}

.active .ques-img {
  transform: rotate(180deg);
}
.active .question-text {
  font-weight: 700;
  color: var(--clr-primary-blue);
}
.active .answer {
  display: block;
  font-size: 0.8rem;
  line-height: 1.7;
}

.mobile-img {
  display: none;
}

hr {
  width: 100%;
  margin-bottom: 0.75rem;
  border-color: hsl(240, 5%, 91%);
}

@media (max-width: 992px) {
  .container {
    width: 550px;
    height: 90vh;
    grid-template-columns: 1fr;
  }

  .image-con {
    margin-top: 2rem;
  }

  .desktop-img,
  .box-img {
    display: none;
  }
  .mobile-img {
    display: block;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .text {
    margin-top: 5rem;
    padding: 0.7rem 1.4rem;
  }
  .text h1 {
    text-align: center;
  }
}
@media (max-width: 550px) {
  .container {
    width: 350px;
    grid-template-columns: 1fr;
  }
}
